<div class="about">
  <div class="boxes">
    <p>
      I am a {{age}} year old programmer from {{Location}} currently working at {{Company}} as a {{JobTitle}}.
    </p>
    <p>
      I first started programming in highschool in the United Kingdom, and have professional experiance in
      <strong>C#</strong>,
      <strong>Typescript/Javascript/HTML/CSS</strong>,
      <strong>Powershell</strong> and
      <strong>C++</strong>.
      <br>
      I have experiance as in all of the most common Javascript frameworks: <strong>Angular 1-7</strong>, <strong>React</strong>
      and <strong>Vue</strong>.
      <br>
      <br>I have a passion for
      <strong>Rapid web development</strong> and
      <strong>Automated testing</strong>, influenced by my first professional role
      at Rare Game Studios, Microsoft.
    </p>
    <p>
      I am always looking to learn more, from implementing <strong>Continuous integration and deployment</strong> into
      my personal projects,
      to speaking at public events. Feel free to contact me if you want to work with me.
    </p>
  </div>
</div>
